<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link href="/resource/global/default.css" rel="stylesheet" />
    </head>
    <body>
        <header>

        </header>
        <div class="main">
            {{ content }}
        </div>
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?bf78938938c8b0efee7275730939ff4b";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </body>
</html>